
        <div class="container__nav">
            <div class="container__title">
                <h1 class="text-center fw-bold text">My Profile</h1>
                <a class="btn__left"><i class="fa-solid fa-chevron-left"></i></a>
            </div>
        </div>

        <h2 class="subtitle">Update personal details</h2>
        <div class="container__form">
            <div class="container__data">
                <div class="mb-1 container__group">
                    <label for="name" class="label">Name</label>
                    <input type="text" class="input__text" id="name" placeholder=" ">
                </div>
            
                <div class="mb-1 container__group">
                    <label for="email" class="label">Email</label>
                    <input type="email" class="input__text" id="email" placeholder=" ">
                </div>
    
                <div class="mb-1 container__group">
                    <label for="phone" class="label">Phone</label>
                    <input type="number" class="input__text input__text--phone" id="phone" placeholder=" ">
                </div>
    
                <div class="mb-1 container__group">
                    <label for="address" class="label">Address</label>
                    <input type="text" class="input__text" id="address" placeholder=" ">
                </div>
            </div>

            <div class="">
                <button class="btn__update">Update</button>
             </div>
        </div>
        