
.container__title{
    position: relative;
    margin-bottom: 1.7rem;
}
h1{
    font-size: 1rem;
    color: #3d3d3d;
}

/* Flecha izquierda */
.btn__left{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0 1rem 0 0;
    position: absolute;
    left: 0;
    top: 0;
}
.fa-chevron-left{
    font-size: .9rem;
    color: #000;
}

.btn__left:hover{
    transition: .3s;
    transform: scale(1.2);
}

.subtitle{
    font-weight: 700;
    font-size: .9rem;
    color: #3d3d3d;
}
.container__form{
    margin-top: 1.6rem;
}
.container__data{
    background-color: #fff;
    margin-bottom: 9.3rem;
    border-radius: .8rem;
    padding: .7rem .8rem .5rem .8rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
/* UPDATE PERSONAL DETAILS*/
.label{
    font-size: .71rem;
    color: gray;
    cursor: pointer;
}

.input__text{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #717172;
    background-color: transparent;
    padding: .3em .3em;
    font-size: .8rem;
}
.input__text--phone{
    margin-bottom: .9rem;
}
/* boton login */

.btn__update{
    color: #fff;
    background-color: #fa4a0c;
    border: none;
    width: 100%;
    margin: 0 .1rem;
    padding: 1.2rem 0;
    border-radius: 1.5rem;
}
.btn__update:hover{
    transition: .5s;
    transform: scale(.9);
    background-color: #f7612a;
}

.btn__update:active{
    background-color: #fa4a0c;
}

/* Responsive */
  @media only screen and (min-width: 1200px) {
    .container__data{
        margin-bottom: 13.07rem;
    }

}