
        <div class="container__nav">
            <div class="container__title">
                <h1 class="text-center fw-bold text">History</h1>
                <a class="btn__left"><i class="fa-solid fa-chevron-left"></i></a>
            </div>
        </div>
        <div class="container__noItem d-flex justify-content-center align-items-center">
            <div class="container__not text-center">
                <i class="bi bi-calendar2-minus"></i>
                <h2 class="subtitle">No history yet</h2>
            </div>
        </div>
    
