<div class="container__nav">
    <div class="container__title">
        <h1 class="text-center fw-bold text">Checkout</h1>
        <a class="btn__left"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
</div>

<h2 class="delivery">Delivery</h2>

<div class="container__subtitle">
    <h2 class="subtitle">Address details</h2>
    <button class="btn__change">change</button>
</div>

<div class="container__form">
    <div class="container__data">
        <div class="container__group">
            <input type="text" class="input__text  input__text--name"  placeholder="Margarita Flores">
        </div>
    
        <div class="container__group">
            <input type="text" class="input__text"  placeholder="Calle Rosales 123, urb El Jardin">
        </div>

        <div class="container__group">
            <input type="tel" class="input__text input__text--phone" placeholder="987654321">
        </div>
    </div>
    
</div>

<div class="container__total d-flex justify-content-between align-items-center">
    <p class="total">Total</p>
    <p class="total__money"><i class="bi bi-currency-dollar p-0 m-0"></i>27.90</p>
</div>

<div>
    <button class="btn__completeOrder">Complete order</button>
</div>
  