<div class="container__nav">
    <div class="container__title">
        <h1 class="text-center fw-bold text">History</h1>
        <a class="btn__left"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
</div>


<div class="container__form">
    <div class="container__data">
        <h3>Wed, Mar 20, 2021</h3>
        <div class="container__item d-flex justify-content-between">
            <p>3 items</p>
            <span class="dollar">$64.90</span>
        </div>

        <div class="arrow text-end">
            <button class="btn">
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            
        </div>
    </div>

    <div class="container__dataV2">

        <h3>Wed, Mar 17, 2021</h3>
        <div class="container__itemV2 d-flex justify-content-between">
            <p>2 items</p>
            <span class="dollar">$97.90</span>
        </div>

        <h3 class="subtitle fw-bold py-1">Order</h3>
        <div class="container__order d-flex justify-content-between">
            <p class="py-1">5 - Veggie tomato mix</p>
            <span class="price">$75.45</span>
        </div>

        <div class="container__order d-flex justify-content-between">
            <p class="py-1">1 - Fishwith mix orange....</p>
            <span class="price">$12.45</span>
        </div>

        <h3 class="subtitle fw-bold mb-2 mt-3">Delivery</h3>
        <p class="pb-3">Calle Rosales 123, urb El Jardin</p>

        <div class="arrow-up text-end">
            <button class="btn">
                <i class="fa-solid fa-chevron-up"></i>
            </button>
        </div>
    </div>
    
</div>
