<div class="container__profile vh-100 bg-dark d-flex justify-content-center align-items-center">
    <div class="container__contain rounded-4">
        <router-outlet></router-outlet>
        <div class="container__icon d-flex justify-content-between text-center align-items-center py-4">
            <a routerLink="myProfileUpdate" class="btn__icon"><i routerLinkActive="btn--icon" class="bi bi-house"></i></a>
            <a routerLink="personalDetails" class="btn__icon"><i routerLinkActive="btn--icon" class="bi bi-person"></i></a>
            <a routerLink="home" class="btn__icon"><i routerLinkActive="btn--icon" class='bx bx-history'></i></a>
        </div>
    </div>
</div>
<!-- myProfileUpdate
personalDetails -->
<!-- Iconos Pintados
<i class="bi bi-house-fill"></i>
<i class="bi bi-person-fill"></i> -->
