<div class="container__form">
    <div class="mb-3 container__group">
        <input type="email" class="input__text" id="email" placeholder=" ">
        <label for="email" class="label">Email address</label>
    </div>

    <div class="mb-3 container__group">
        <input type="password" class="input__text input__text--pass" id="pass" placeholder=" ">
        <label for="pass" class="label">Password</label>
    </div>

    <div class="mb-3">
       <button class="btn__login">Sign-up</button>
    </div>
</div> 
