
        <div class="container__nav">
            <div class="container__title">
                <h1 class="text-center fw-bold text">My Profile</h1>
                <a class="btn__left"><i class="fa-solid fa-chevron-left"></i></a>
            </div>
        </div>
        <div class="container__subtitle">
            <h2 class="subtitle">Personal details</h2>
            <button class="btn__change">change</button>
        </div>
        
        <div class="container__form">
            <div class="container__data">
                <p class="fw-bold pt-2 pb-1">Margarita Flores</p>
                <div class="container__group">
                    <input type="email" class="input__text" id="name" placeholder="my_email@mail.com">
                </div>
            
                <div class="container__group">
                    <input type="number" class="input__text" id="email" placeholder="987654321">
                </div>
    
                <div class="container__group">
                    <input type="text" class="input__text" id="phone" placeholder="Calle Rosales 123, urb El Jardin">
                </div>
            </div>
            <div class="container__history">
                <p class="fw-bolder">History</p>
                <a class="btn__right"><i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="">
                <button class="btn__logout">Logout</button>
             </div>
        </div>
        