/* You can add global styles to this file, and also import other style files */
@import url(style/style.css);
/* Titulo del Login */
/* h1{
    font-family: 'Flavors', cursive;
} */

/* PARRAFO DEL LOGIN */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
/* p{
    font-family: 'Source Sans Pro', sans-serif;
} */
